<div class='contenedor'>
  <div>
    <h2>Práctica de Angular</h2>
  </div>
  <div *ngIf="mostrarLista">
    <table mat-table [dataSource]='items' class='mat-elevation-z8 tabla'>
      <caption class='titulo-tabla'>Lista de Productos</caption>
      <ng-container [matColumnDef]='columna' *ngFor='let columna of columnas'>
        <th mat-header-cell *matHeaderCellDef>{{ columna }}</th>
        <td mat-cell *matCellDef='let item'>{{ item[columna] }}</td>
      </ng-container>  
      <tr mat-header-row *matHeaderRowDef='columnas'></tr>
      <tr mat-row *matRowDef='let data; columns: columnas'></tr>
    </table>    
  </div>
  <button mat-raised-button color='primary' (click)="toggleLista()" class='boton'>{{mostrarLista ? 'Ocultar Lista' : 'Mostrar Lista'}}</button>
</div>

<router-outlet></router-outlet>